*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: auto;
    
}
header{
    padding: 10px;
    background-color:#fff;
}
header img{
    height: 100px;
}
main{
    height: 80%;
    width: auto;
   
    background-color:white;
    display: block;
}
.barra-menu{
    background: #3482c4;
    
    
}
article form{
    text-align: right;
}

nav{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
a{
    
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right:15px;
}
a:hover{
    text-decoration: underline;
}

.contacto {
    
    background: #9fb8b9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
    
}
h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 250px;
}
.columna-contacto1{
   padding: 30px;
    background: #bbcfd0;
   
}
.columna-contacto2{
    background: #bbcfd0;
    padding: 0px 100px 0px 100px;
}
.columna-contacto2 input,label,textarea{
    
    display: block;
    text-align: left;
    margin-bottom: 15px;    
}




footer {
    
    background-color: #3482c4;
    
   
    display:flex;
    flex-direction:row;
    align-content: center;
    
    justify-content: space-around;
    
    
}
h5{
    
    text-align: center;
}
.columna2 a{
    display: flex;

    
}


