@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
    outline: none;
    font-size: 1vw;
}

body{
    font-family: 'Roboto', sans-serif;
}

.menu{
    height: 30%;
    width: 100%;
    background-color: #1c6674;
}

    .menu ul{
        display: flex;
        height: 100%;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu li{
        list-style:none;
        width: 20%;
        height: 100%;
        box-sizing: border-box;
    }

    .menu a{
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: white;
        padding: 50px;
        text-align: center;
        display: block;
        box-sizing: border-box;
    }

    .menu a:hover{
        color: #1c6674;
        background-color: white;
    }

    .menu form{
        text-align: right;
    }

    h1{
        font-weight: bolder;
        box-sizing: border-box;
    }

.logo{
    background-image: url(../img/logo_unlam.png);
    background-position-x: 8%;
    background-position-y: center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.menu .logo:hover{
    color: white;
    background-color: transparent;
}

.corrusel{
    margin: 1% 0;
}

.corrusel img{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
}

.informacion{
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0;
}

    .informacion article{
        width: 33%;
        margin: 0 auto;
        text-align: center;
    }

    .informacion div{
        margin: 0 auto;
        height:60%;
        width: 90%;
        padding: 30px;
        background-color: #2a97ad;
        box-sizing: border-box;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    }

    .informacion img{
        width: 50%;
        border-radius: 50%;
    }

    .informacion p{
        margin: auto;
        padding: 10px;
        color: white;
        text-align: left;
    }

    h4{
        text-align: center;
        color: white;
        padding: 10px;
        background-color: #1c6674;
    }

aside{
    width: 80%;
    padding: 10px;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

    aside article{
        width:30%;
        padding: 10px;
        background-color: #2a97ad;
        box-sizing: border-box;
        align-items: center;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
        }

    aside article ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    } 

    aside article ul li{
        width: 100%;
        text-align: center;
        }

    aside article img{
        margin: 0 auto;
        width: 90%;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    }

    aside article h5{
        text-align: center;
        color: white;
        padding: 30px;
        background-color: #1c6674;
    }

    aside article ul li h6{
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 10px;
        font-size: 100%;
        color: white;
        font-weight: lighter;
        text-align: center;
        border-bottom: 2px solid white;
    }  

footer{
    padding: 10px;
    background-color: #1c6674;
    display: flex;
    justify-content: space-between;
    color: white;
}

    footer h6{
        text-align: center;
        border-bottom: 2px solid white;
        border-bottom-style: double;
        color: white;
        margin-bottom: 2%;
    }

    footer article{
        width: 33%;
    }

    footer ul{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

        .columna1 ul{
            align-items: flex-start;
        }

        .columna1 ul li{
            padding: 5px;
        }

        .columna2 ul li{
            width: 50%;
            padding: 5px;
            text-align: center;
        }

        .columna2 a{
            width: 33%;
            color: white;
            box-sizing: border-box;
        }

        .columna2 a:hover{
            border-bottom-style: solid;
        }

        .columna3 div{
            display: flex;
            justify-content: center;
            margin: auto;
        }

        .columna3 i{
            font-size: 25px;
            margin: 10px;
            align-content: center;
            color: white;
        }