
.contenedor article{
    display: flex;
    flex-direction: row;
}

.imagen-enfermedad{
    width: 250px;
    height: 150px;
    background: ;
    margin:20px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.2);
    
}

.imagen-enfermedad img{
    width: 200px;
    height: 150px;
}

.descripcion-enfermedad{
    height: 150px;
    text-align: left;
    padding: 5px;
    align-self: center;
    border-bottom: 1px dashed;
    }

.contenedor h2{
    margin-bottom: 10px;
}

/*boton*/
.boton{
   
    display: inline-block;
    font-weight: bold;
    padding: 5px 5px;
    background: #3482c4;
    color: white;
    font-size: 12px;
    margin: 10px 0;
}

.boton:hover{
    opacity: .5;
}
